In [1]:
print("gitam",end="@")
print("gitam",end=" ")
print("gitam")

gitam@gitam gitam

In [6]:
#variable
## Also called as identifer

name="gitam"
address="hyderabad"
print("university name",name,"place",address)

university name gitam place hyderabad

In [3]:
input()

12

'12'

In [4]:
input ("enter your name")

enter your nameaishwarya

'aishwarya'

In [5]:
a=input()

12

In [7]:
a="6"
type(a)

str

In [11]:
a=7
type(a)

int

In [19]:
a=100
print(type(a))
b=str(a)
print(type(b))
c=float(a)
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [20]:
x=7
y=8
print(x+y)
print(x-y)
print(x*y)
print(x/y)

15
-1
56
0.875

In [21]:
#logical operators
a=30
b=50
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

In [22]:
#relational operators
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
a!=b

False
True
False
True
False

True

In [25]:
# conditional statements
# if:occupies one tab and it is called as identification
## if:
 
## check for odd number

n=int(input("enter a number"))
if n%2!=0:
    print("odd")
else:
    print("even")

enter a number5
odd

In [27]:
## check for divisibility of 3 and 5
n=int(input(" "))
if n%3==0 and n%5==0:
    print("yes") 
else:
        print("no")

 6
no

In [29]:
# input a number and check whether it is a positive or negative or zero
n=int(input(" "))
if n>0:
    print("positive number")
elif n<0:
    print("negative number")
elif n==0:
    print("zero")

 6
positive number

In [37]:
year=int(input("enter the year"))
if(year%400==0)or (year % 100!=0 and year %4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year2023
not a leap year

# python
- cherry

# python
- topics covered
- operators
- datatypes
- conditional statements